* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root {
  height: 100vh;
}
.layOut {
  height: 100%;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas: "header" "main" "footer";
}

main {
  grid-area: main;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.wrapper .products-wrapper {
  width: 65%;
}
.wrapper .filter-wrapper {
  width: 30%;
}
