footer {
    grid-area: footer;
    background-color: #2a5ea5;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    font-size: 20px;
=======
    font-size: 20px
>>>>>>> 3dab6a95133a4d87ca17527edd07b1b304a48a67
  }